version: 2.1

orbs:
  gem: doximity/gem-publisher@0

executors:
  ruby_2_7:
    resource_class: small
    docker:
      - image: cimg/ruby:2.7
        environment:
          BUNDLE_VERSION: '~> 2.4.3'
      - image: redis:6
  ruby_3_0:
    resource_class: small
    docker:
      - image: cimg/ruby:3.0
        environment:
          BUNDLE_VERSION: '~> 2.4.3'
      - image: redis:6

  ruby_3_1:
    resource_class: small
    docker:
      - image: cimg/ruby:3.1
        environment:
          BUNDLE_VERSION: '~> 2.4.3'
      - image: redis:6

# yaml anchor filters
master_only: &master_only
  filters:
    branches:
      only: master
    tags:
      ignore: /.*/
pr_only: &pr_only
  filters:
    branches:
      ignore: master
    tags:
      ignore: /.*/
version_tags_only: &version_tags_only
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.*/

jobs:
  build:
    parameters:
      executor:
        type: string
        default: "ruby_3_1"
    executor: "<< parameters.executor >>"
    steps:
      - checkout
      - run:
          name: Install Bundler specific version
          command: |
            gem install bundler --version "${BUNDLE_VERSION}" --force
      - restore_cache:
          keys:
            - v1-bundle-<< parameters.executor >>-{{ checksum "Gemfile.lock" }}
      - run:
          name: Install Ruby Dependencies
          command: bundle check --path=vendor/bundle || bundle install
      - save_cache:
          key: v1-bundle-<< parameters.executor >>-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - run:
          name: Run Tests
          command: bundle exec rspec

workflows:
  trunk:
    jobs:
      - build:
          <<: *master_only
          matrix:
            parameters:
              executor: ["ruby_2_7", "ruby_3_0", "ruby_3_1"]
      - gem/build:
          <<: *master_only
          executor: ruby_3_1
          name: gem-build
          requires:
            - build

  pull-requests:
    jobs:
      - build:
          <<: *pr_only
          matrix:
            parameters:
              executor: ["ruby_2_7", "ruby_3_0", "ruby_3_1"]
      - gem/build:
          <<: *pr_only
          executor: ruby_3_1
          name: gem-build
          vendor-cache: false
          requires:
            - build
      - pre-release-approval:
          <<: *pr_only
          type: approval
          requires:
            - gem-build
      - gem/publish:
          <<: *pr_only
          name: gem-publish
          to_rubygems: false
          to_nexus: true
          pre_release: true
          requires:
            - pre-release-approval
          context: artifact_publishing

  final-release:
    jobs:
      - build:
          <<: *version_tags_only
          matrix:
            parameters:
              executor: ["ruby_2_7", "ruby_3_0", "ruby_3_1"]
      - gem/build:
          <<: *version_tags_only
          executor: ruby_3_1
          name: gem-build
          vendor-cache: false
          requires:
            - build
      - gem/publish:
          <<: *version_tags_only
          name: gem-publish
          to_rubygems: true
          pre_release: false
          requires:
            - gem-build
          context: artifact_publishing
